

<div class="mat-elevation-z10" fxLayout="column"   [fxShow]="meta.displayForm"   style="margin:10px"  fxLayoutGap="10px">
  
      <br/>
      <br/>
  
  <form  name="form"  autocomplete="off" [formGroup]="dataForm"   novalidate>  

  
  <div fxLayout="row" fxLayoutAlign="start baseline"  fxLayoutAlign.lt-sm="start start"   fxLayoutGap="10px" fxLayout.lt-sm="column" >
          
  
    
          <md-form-field fxFlex="20" >
          <input mdInput placeholder="Nom" formControlName="nom"    >
          </md-form-field>
    
          <md-form-field fxFlex="20" >
          <input mdInput placeholder="Prénom" formControlName="prenom"    >
          </md-form-field>
    
          <md-form-field fxFlex="10"  >
            
            <input mdInput [mdDatepicker]="day"  placeholder="Date" (click)="day.open()"  formControlName="date" >
            <md-datepicker-toggle mdSuffix [for]="day"  ></md-datepicker-toggle>
            <md-datepicker #day></md-datepicker>
         </md-form-field>


  
        
            <md-select placeholder="Sexe" formControlName="sexe" fxFlex="4"   >
                <md-option *ngFor="let s of meta.sexe"     [value]="s"   >{{s}} </md-option>
            </md-select> 
  
  
  </div> 
  
  
  <div fxLayout="row" fxLayoutAlign="start baseline"  fxLayoutAlign.lt-sm="start start"   fxLayoutGap="10px" fxLayout.lt-sm="column" >
      
      <md-form-field fxFlex="25" >
      <input mdInput placeholder="Adresse" formControlName="adresse"    >
      </md-form-field>

      <md-form-field fxFlex="8" >
      <input mdInput #postalCode maxLength="5"  placeholder="Code Postal" formControlName="code_postal"    >
      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
      </md-form-field>
    
      <md-form-field fxFlex="20" >
      <input mdInput placeholder="Ville" formControlName="ville"    >
      </md-form-field>
  
  </div> 
  



  <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutAlign.lt-sm="start start"   fxLayoutGap="35px" fxLayout.lt-sm="column"  >
      
      <md-form-field fxFlex="18" >
      <input mdInput placeholder="Email*" formControlName="email1"    >
      <md-icon mdSuffix>email</md-icon>
      <md-hint align="start" *ngIf="(dataForm.get('email1').hasError('required') ||  dataForm.get('email1').hasError('pattern') ) && dataForm.get('email1').dirty " [ngStyle]="{'color': 'red','font-size':'12px'}" >
          {{invalid.mail}}</md-hint>
      </md-form-field>

      <md-form-field fxFlex="18" >
      <input mdInput placeholder="Email" formControlName="email2"    >
      <md-hint align="start" *ngIf="( dataForm.get('email2').hasError('pattern') ) && dataForm.get('email2').dirty " [ngStyle]="{'color': 'red','font-size':'12px'}" >
          {{ invalid.mail}}</md-hint>
      </md-form-field>
    
      <md-form-field fxFlex="18" >
      <input mdInput placeholder="Email" formControlName="email3"    >
      <md-hint align="start" *ngIf="( dataForm.get('email3').hasError('pattern') ) && dataForm.get('email3').dirty " [ngStyle]="{'color': 'red','font-size':'12px'}" >
          {{ invalid.mail}}</md-hint>
      </md-form-field>
     
    
      <md-form-field fxFlex="8" >
          <input mdInput placeholder="Télephone*" formControlName="telephone1"   maxlength="10" >
          <md-icon mdSuffix>phone</md-icon>
          </md-form-field>
    
          <md-form-field fxFlex="8" >
          <input mdInput placeholder="Télephone" formControlName="telephone2"   maxlength="10"  >
          <md-icon mdSuffix>phone</md-icon>
          <md-hint align="start" *ngIf="( dataForm.get('telephone2').hasError('required') ) && dataForm.get('telephone2').dirty " [ngStyle]="{'color': 'red','font-size':'12px'}" >
              *Le Téléphone....              </md-hint>
          </md-form-field>
        
          <md-form-field fxFlex="8" >
          <input mdInput placeholder="Télephone" formControlName="telephone3"  maxlength="10"   >
          <md-icon mdSuffix>phone</md-icon>
          </md-form-field>
  
    
  
  
  </div> 












  <div fxLayout="row" fxLayoutAlign="center baseline" fxLayoutAlign.lt-sm="start start"  fxLayout.lt-sm="column"   fxLayoutGap="10px">
    


   <div>
        <md-select placeholder="Type" formControlName="type" fxFlex="4" >
        <md-option *ngFor="let r of meta.type"    [value]="r.value"   >{{r.name}} </md-option>
        </md-select> 
    </div>
  
   
    <div>
        <md-select placeholder="Categorie" formControlName="categorie" fxFlex="4" >
        <md-option *ngFor="let r of meta.categorie"    [value]="r.value"   >{{r.name}} </md-option>
        </md-select> 
    </div>
 
 
   <div>
      <md-select placeholder="Rang" formControlName="rang" fxFlex="4" >
      <md-option *ngFor="let r of meta.rang"    [value]="r"   >{{r}} </md-option>
      </md-select> 
    </div>

    <div>
      <md-select placeholder="Officiel" formControlName="officiel" fxFlex="4" >
      <md-option *ngFor="let r of meta.officiel"    [value]="r"   >{{r}} </md-option>
      </md-select> 
    </div>
  
    <md-form-field fxFlex="10" >
        <input mdInput placeholder="Licence" formControlName="licence"    >
    </md-form-field>

    <md-form-field fxFlex="6" >
      <input mdInput placeholder="Tarif (€)" formControlName="tarif"   maxlength="7" >
   </md-form-field>
   <md-form-field fxFlex="6"  >
      <input mdInput placeholder="Total (€)"   class="cotisation"  formControlName="cotisation"    maxlength="7" >
   </md-form-field>

    <section>
        <md-checkbox  formControlName="entr" color="accent" >Entraineur</md-checkbox>
    </section>
         

 
  


</div> 

<div  fxLayout="row" fxLayoutAlign="start baseline" fxLayoutAlign.lt-sm="start start"  fxLayout.lt-sm="column"  style='margin-top:20px' fxLayoutGap="10px" >
    

   
        <div>
        <md-select placeholder="Banque" formControlName="banque" fxFlex="24" >
          <md-option *ngFor="let r of meta.banque"    [value]="r"   >{{r}} </md-option>
        </md-select> 
        </div>
     
        <div fxLayout="column" fxLayoutAlign="start start"   fxLayoutGap="10px" >
          <md-form-field fxFlex="5" >
              <input mdInput placeholder="Montant (€)" formControlName="cheque1"   >
            </md-form-field>
            <md-form-field fxFlex="10" >
                <input mdInput placeholder="Numéro" formControlName="num_cheque1"    >
              </md-form-field>
           </div>
         
           <div fxLayout="column" fxLayoutAlign="start start"   fxLayoutGap="10px" >
              <md-form-field fxFlex="5" >
                  <input mdInput placeholder="Montant (€)" formControlName="cheque2"    >
                </md-form-field>
                <md-form-field fxFlex="5" >
                    <input mdInput placeholder="Numéro" formControlName="num_cheque2"    >
                  </md-form-field>
               </div>
               <div fxLayout="column" fxLayoutAlign="start start"   fxLayoutGap="10px" >
                  <md-form-field fxFlex="5" >
                      <input mdInput placeholder="Montant (€)" formControlName="cheque3"    >
                    </md-form-field>
                    <md-form-field fxFlex="5" >
                        <input mdInput placeholder="Numéro" formControlName="num_cheque3"    >
                      </md-form-field>
                   </div>

</div> 

<div  fxLayout="row" fxLayoutAlign="start baseline" fxLayoutAlign.lt-sm="start start"  fxLayout.lt-sm="column"  style='margin-top:20px' fxLayoutGap="10px" >
        <md-form-field fxFlex="15" >
            <input mdInput placeholder="Cheque sport (€)" formControlName="ch_sport"   >
          </md-form-field>
          <md-form-field fxFlex="15" >
              <input mdInput placeholder="Numéro" formControlName="num_sport"    >
            </md-form-field>
            <md-form-field fxFlex="15" >
              <input mdInput placeholder="Coupon sport (€)" formControlName="coup_sport"   >
            </md-form-field>
            <md-form-field fxFlex="15" >
                <input mdInput placeholder="Numéro" formControlName="num_coupsport"    >
              </md-form-field>


</div> 

<div  fxLayout="row" fxLayoutAlign="start baseline" fxLayoutAlign.lt-sm="start start"  fxLayout.lt-sm="column"  style='margin-top:20px' fxLayoutGap="10px" >
  
        <md-form-field fxFlex="15" >
            <input mdInput placeholder="Nombre Ch. vacances * 10 €" formControlName="nbre_chvac10"   >
        </md-form-field>
        <md-form-field fxFlex="15" >
          <input mdInput placeholder="Nombre Ch. vacances * 20 €" formControlName="nbre_chvac20"   >
      </md-form-field>
   
      <md-form-field fxFlex="15" >
          <input mdInput placeholder="Espèce €" formControlName="especes"   >
      </md-form-field>

</div>



<div  fxLayout="row" fxLayoutAlign="center  baseline"    fxLayoutGap="10px"  >
      
         
        <md-checkbox  formControlName="cert_medical" color="primary" >Cert.Médical</md-checkbox>
        <md-checkbox  formControlName="auto_parentale" color="primary" >Auto.Parentale</md-checkbox>
        <md-checkbox  formControlName="fiche_medicale" color="primary" >Fich.Médicale</md-checkbox>
        <md-checkbox  formControlName="photo" color="primary" >Auto.Photo</md-checkbox>
        <md-checkbox  formControlName="reglement" color="primary" >Réglement</md-checkbox>
      

        <md-checkbox  formControlName="paye" color="accent"   ><label style="color:green;font-weight: bold ">Payé</label></md-checkbox>



</div> 

  
  
  
  <div   fxLayout="row" fxLayoutAlign="center baseline"  style='margin-top:20px'    >
      
      <md-form-field fxFlex="75"  >
          <textarea mdInput #comment  type="text"    formControlName="commentaires"  placeholder="Commentaires" >
          </textarea>
      
        </md-form-field>
  </div>
  
    <div fxLayout="row" fxLayoutAlign="center center"  >
     
               <button md-raised-button color="primary" [disabled]="dataForm.invalid" (click)="saveForm()"  >Valider</button>
               <button md-raised-button color="primary" fxFlexOffset ='3'  (click)="cancelForm()"  >Annuler</button>
      </div>
  
  </form>
  <br>
  <br>





</div>
  



  
  
  
  <div class="mat-elevation-z8"     [fxShow]="!meta.displayForm"  style="margin:10px"   >
  
     
      <div>
      <div fxFlex="100" fxFlexLayout="column"  fxLayoutAlign="center center" fxLayoutGap="45px" >
          <md-form-field floatPlaceholder="never"  fxFlex="65"  >
            <input mdInput #filter placeholder="Filtre...  nom, prenom, ville">
          </md-form-field>
          
              <button md-mini-fab color="primary"  (click)="editForm('-1') "  > <md-icon>add</md-icon></button>
              <md-chip-list>
                  <md-chip color="accent" selected="true">{{meta.totdisp}} / {{meta.total}}</md-chip>
                </md-chip-list>
        </div>
      </div>  
  
   

  <md-table     class="mat-table"  #table [dataSource]="dataSource" mdSort>
  
  
  
  <!-- Name Column -->
  <ng-container mdColumnDef="nom">
    <md-header-cell *mdHeaderCellDef md-sort-header>Nom </md-header-cell>
    <md-cell *mdCellDef="let row" > {{row.nom}} </md-cell>
  </ng-container>
  
  <!-- Name Column -->
  <ng-container mdColumnDef="prenom">
    <md-header-cell *mdHeaderCellDef md-sort-header>Prénom</md-header-cell>
    <md-cell *mdCellDef="let row" > {{row.prenom | lowercase}} </md-cell>
  </ng-container>
  
  <!-- Name Column -->
  <ng-container mdColumnDef="sexe">
    <md-header-cell *mdHeaderCellDef md-sort-header>Sexe</md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.sexe}} </md-cell>
  </ng-container>
  
 <!-- Name Column -->
 <ng-container mdColumnDef="ville">
  <md-header-cell *mdHeaderCellDef md-sort-header>Ville</md-header-cell>
  <md-cell *mdCellDef="let row">{{row.ville }} </md-cell>
 </ng-container>



  <!-- Name Column -->
  <ng-container mdColumnDef="niveau">
    <md-header-cell *mdHeaderCellDef md-sort-header>Niveau </md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.niveau}} </md-cell>
  </ng-container>
  
  <!-- Name Column -->
  <ng-container mdColumnDef="categorie">
    <md-header-cell *mdHeaderCellDef md-sort-header>Catégorie </md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.categorie}} </md-cell>
  </ng-container>



  <!-- Name Column -->
  <ng-container mdColumnDef="rang">
    <md-header-cell *mdHeaderCellDef md-sort-header>Rang </md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.rang}} </md-cell>
  </ng-container>
  
  
  <!-- Name Column -->
  <ng-container mdColumnDef="officiel">
    <md-header-cell *mdHeaderCellDef md-sort-header>Officiel </md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.officiel }} </md-cell>
  </ng-container>
  
   <!-- Name Column -->
   <ng-container mdColumnDef="cotisation">
      <md-header-cell *mdHeaderCellDef md-sort-header>Cotisation</md-header-cell>
      <md-cell *mdCellDef="let row"  [ngStyle]="{'color': row.cotisation > 0 ? 'green' : 'red' , 'font-weight':'bold'}"   > {{row.cotisation}} </md-cell>
     </ng-container>
  
  <!-- Name Column -->
  <ng-container mdColumnDef="licence">
    <md-header-cell *mdHeaderCellDef md-sort-header>Licence</md-header-cell>
    <md-cell *mdCellDef="let row"> {{row.licence }} </md-cell>
   </ng-container>

  <!-- Name Column -->
  <ng-container mdColumnDef="valide">
    <md-header-cell *mdHeaderCellDef md-sort-header>Valide</md-header-cell>
    <md-cell *mdCellDef="let row">
    <md-icon *ngIf=" row.valide == 1  "color="primary" >check_box</md-icon>
    <md-icon *ngIf=" row.valide == 0  "color="warn" >indeterminate_check_box</md-icon>
    
  </md-cell>
   </ng-container>

   <ng-container mdColumnDef="id" >
    <md-header-cell *mdHeaderCellDef>Actions</md-header-cell>
  
    <md-cell *mdCellDef="let row"  >
            <button md-icon-button (click)="editForm(row.id)" >
              <md-icon color='primary' >edit</md-icon>
            </button>
    </md-cell>
  </ng-container>
  
  
  
    <!-- Header and Row Declarations -->
  
  
    <md-header-row *mdHeaderRowDef="['nom','prenom','sexe','ville','niveau','categorie', 'rang', 'officiel' ,'cotisation' ,'licence','valide', 'id' ]"></md-header-row>
    <md-row *mdRowDef="let row; columns: ['nom','prenom','sexe','ville','niveau','categorie', 'rang', 'officiel' ,'cotisation','licence', 'valide','id' ]"></md-row>
  


  
  </md-table>

  <md-paginator #paginator
  
  [length]="dataSource?.datas?.length"
  [pageIndex]="0"
  [pageSize]="50"
  [pageSizeOptions]="[5, 10]">
</md-paginator>

  <md-toolbar color="white"  >
<div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around  center"   >

      <md-select placeholder="Sexe"  color="primary" >
          <md-option value="F" >Femme</md-option>
          <md-option value="H">Homme</md-option>
        </md-select>

        <md-select placeholder="Catégories"  color="primary" >
            <md-option value="av" >Avenirs</md-option>
            <md-option value="be">Benjamins</md-option>
          </md-select>

          <md-select placeholder="Type"  color="primary" >
              <md-option value="R" >Renouvellement</md-option>
              <md-option value="N">Nouveau</md-option>
            </md-select>

            <md-select placeholder="Paye"  color="primary" >
                <md-option value="0" >Non</md-option>
                <md-option value="1">Oui</md-option>
              </md-select>

              <md-select placeholder="Cert.médical"  color="primary" >
                  <md-option value="0" >Non</md-option>
                  <md-option value="1">Oui</md-option>
                </md-select>


              <md-select placeholder="Fich.médical"  color="primary" >
                  <md-option value="0" >Non</md-option>
                  <md-option value="1">Oui</md-option>
                </md-select>

              <md-select placeholder="Auto.parentale"  color="primary" >
                  <md-option value="0" >Non</md-option>
                  <md-option value="1">Oui</md-option>
                </md-select>
 </div>
  </md-toolbar>



  </div>