.mat-table {
    overflow: auto;
    max-height:600px;
  }


  form div {
   _margin-left: 32px;

  }

  .mat-form-field{
    font-size: 14px;
    _flex-grow: 1;
    _margin-left: 32px;
  }




/* do not group these rules */
.cotisation  {
  color: #128F65;
  
  font-weight: bold;
}
