

<div class="comp-body mat-elevation-z10" fxLayout="column"  [fxShow]="meta.displayForm"   >

<form style='margin-top:10px' name="form"  autocomplete="off" [formGroup]="dataForm"   novalidate >  


<div fxLayout="row" fxLayoutAlign="start center"   >
        
         <mat-form-field fxFlex="55"  fxFlexOffset="5"  >
        <input matInput placeholder="Nom" formControlName="nom" required >
        <mat-hint align="start" *ngIf="( dataForm.get('nom').hasError('required') ||  dataForm.get('nom').hasError('minlength') ) && dataForm.get('nom').dirty " [ngStyle]="{'color': 'red','font-size':'12px'}" >
          *Nom sur 5 charactères minimum
          </mat-hint>
        </mat-form-field>
  

        <mat-form-field fxFlex="20"  fxFlexOffset="5" >
        <input matInput placeholder="Lieu" formControlName="lieu" required >
        <mat-hint align="start" *ngIf="( dataForm.get('lieu').hasError('required') ||  dataForm.get('lieu').hasError('minlength') ) && dataForm.get('lieu').dirty " [ngStyle]="{'color': 'red','font-size':'12px'}" >
        *Lieu sur 4 charactères minimum
        </mat-hint>
        </mat-form-field>

</div> 


<div fxLayout="row" fxLayoutAlign="start baseline"  style='margin-top:10px'   >
    

    <mat-form-field fxFlex="15"  fxFlexOffset="5" >
        <input required matInput [matDatepicker]="debut"  placeholder="Début" (click)="debut.open()" (dateChange)="onDateStart($event)"   formControlName="debut" >
        <mat-datepicker-toggle matSuffix [for]="debut"   ></mat-datepicker-toggle>
        <mat-datepicker #debut  ></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex="15"  fxFlexOffset="2" >
        <input required matInput [matDatepicker]="fin" readonly placeholder="Fin" (click)="fin.open()" formControlName="fin">
        <mat-datepicker-toggle matSuffix [for]="fin"></mat-datepicker-toggle>
        <mat-datepicker #fin></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field fxFlex="15" fxFlexOffset="2" >
        <input required matInput [matDatepicker]="limite" readonly placeholder="Date Limite" (click)="limite.open()" formControlName="limite" >
        <mat-datepicker-toggle matSuffix [for]="limite"></mat-datepicker-toggle>
        <mat-datepicker #limite></mat-datepicker>
    </mat-form-field>

      <mat-form-field [floatPlaceholder]="auto"    fxFlex="6" fxFlexOffset="2" >
            <mat-select required placeholder="Heure" name="heure"  formControlName="heure"   >
        <mat-option *ngFor="let n of ['07','08','09','10','11','12','13','14']" [value]="n">
          {{n}}h
        </mat-option>
      </mat-select>
    </mat-form-field>


    </div>

    <div   fxLayout="row" fxLayoutAlign="start baseline"  style='margin-top:2px'   *ngIf="dataForm.hasError('dateError')"  >
      <div  fxFlexOffset="5" >
        <mat-hint align="start"  [ngStyle]="{'color': 'red','font-size':'12px'}"  >
            Les dates sont incompatibles !
          </mat-hint>
        </div>
        </div>

  
      

    <div fxLayout="row" fxLayoutAlign="start baseline"    style='margin-top:10px' >
      
      
      <mat-form-field [floatPlaceholder]="auto"    fxFlex="6" fxFlexOffset="5" >
    <mat-select placeholder="Bassin" name="bassin"  formControlName="bassin" >
        <mat-option *ngFor="let bassin of meta.bassin" [value]="bassin.value">
          {{bassin.name}}
        </mat-option>

              </mat-select>
 </mat-form-field>

              <mat-form-field [floatPlaceholder]="auto"  fxFlex="10" fxFlexOffset="2"   >
      <mat-select placeholder="Type" name="type" formControlName="type"     (ngModelChange)="setVerif()"  >
          <mat-option *ngFor="let type of meta.type" [value]="type.value">
            {{type.name}}
          </mat-option>
        
        </mat-select>
     
     </mat-form-field>



       
        <mat-form-field fxFlexOffset="2" [fxShow]=" dataForm.controls['type'].value === 'stage' "  fxFlex="5">
        <input required matInput placeholder="Max" formControlName="max" maxlength="3"  >
        <mat-hint align="start" *ngIf="( dataForm.get('max').hasError('required') ||  dataForm.get('max').hasError('pattern') ) && dataForm.get('max').dirty " [ngStyle]="{'color': 'red','font-size':'12px'}" >
          *nombre>0
          </mat-hint>
        </mat-form-field>

        <div fxFlexOffset="5"  fxFlex="15" [fxShow]=" dataForm.controls['type'].value === 'compet' "    >  
          <mat-checkbox name="choixnages"  formControlName="choixnages"  >Avec choix des nages</mat-checkbox>
        </div>

        <mat-form-field [floatPlaceholder]="auto"  fxFlex="10" fxFlexOffset="2"  >
            <mat-select required placeholder="Entraineur" name="entraineur" formControlName="entraineur"  >
              <mat-option *ngFor="let entr of meta.entraineur" [value]="entr.value">
                  {{entr.name}}
              </mat-option>
            </mat-select>
        </mat-form-field> 



</div> 
<div fxLayout="row" fxLayoutAlign="start baseline"  style='margin-top:20px' >

    <div fxFlexOffset="5"   fxLayout="row" fxLayoutAlign="start center"   formGroupName  ="categories"  >
       <span>Categories*:&nbsp;&nbsp;&nbsp;</span>
       <mat-checkbox formControlName="av"   >Av</mat-checkbox>&nbsp;
       <mat-checkbox formControlName="je"   >Je</mat-checkbox>&nbsp;
       <mat-checkbox formControlName="dep"   >Dep</mat-checkbox>&nbsp;
       <mat-checkbox formControlName="reg"   >Reg</mat-checkbox>&nbsp;
       <mat-checkbox formControlName="nat"   >Nat</mat-checkbox>&nbsp;
       <mat-checkbox formControlName="ma"    >Mas</mat-checkbox>&nbsp;
    </div>

  <div fxFlexOffset="3" fxFlex="10"  >  
  <mat-checkbox   formControlName="verif"  >Vérification</mat-checkbox>
  </div>


</div> 



<div   fxLayout="row" fxLayoutAlign="start center"  style='margin-top:20px'    >
    <mat-form-field fxFlex="50" fxFlexOffset="5" >
        <textarea matInput matTextareaAutosize  matAutosizeMaxRows="3" formControlName="commentaires"  placeholder="Commentaires"></textarea>
      </mat-form-field>

      <mat-form-field fxFlex="25" fxFlexOffset="2" >
        <input matInput   formControlName="lien"  placeholder="Lien">
      </mat-form-field>
</div>

  <div fxLayout="row" fxLayoutAlign="center center"  >
   
             <button mat-raised-button color="primary" [disabled]="dataForm.invalid" (click)="saveForm()"  >Valider</button>
             <button mat-raised-button color="primary" fxFlexOffset ='3'  (click)="cancelForm()"  >Annuler</button>
    </div>


 

</form>
<br>
<br>
</div>





<div class="comp-body mat-elevation-z8"     [fxShow]="!meta.displayForm"   >

   
  <div>
    <div fxFlex="100" fxFlexLayout="column"  fxLayoutAlign="center center" fxLayoutGap="45px" >
    
        <mat-form-field floatPlaceholder="never" fxFlex="50"  >
          <input matInput #filter placeholder="Recherche nom,lieu,type" >
        </mat-form-field>
        <mat-checkbox color="accent" (change)="onFutures()"  [(ngModel)]="futures">Futures</mat-checkbox>
        <mat-checkbox color="accent" (change)="onVerifiees()"  [(ngModel)]="verifiees" >Verifiées</mat-checkbox>
        <button mat-mini-fab color="primary"  (click)="updateForm(null) "  ><mat-icon>add</mat-icon></button>
        
    </div>
  </div>

<mat-table class="mat-table"  #table [dataSource]="dataSource" matSort>



<!-- Name Column -->
<ng-container matColumnDef="nom">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Nom </mat-header-cell>
  <mat-cell *matCellDef="let row"  > {{row.nom}} </mat-cell>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="lieu">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Lieu</mat-header-cell>
  <mat-cell *matCellDef="let row" > {{row.lieu | lowercase}} </mat-cell>
</ng-container>


<!-- Name Column -->
<ng-container matColumnDef="bassin">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Bassin </mat-header-cell>
  <mat-cell *matCellDef="let row">
    <mat-chip color="primary" *ngIf="row.bassin == '25'" selected="false">{{row.bassin}}</mat-chip>
    <mat-chip color="primary" *ngIf="row.bassin == '50'" selected="true">{{row.bassin}}</mat-chip>
 </mat-cell>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="type">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Type </mat-header-cell>
  <mat-cell *matCellDef="let row"><mat-chip-list>
   <mat-chip>{{row.type}}</mat-chip> </mat-chip-list> </mat-cell>

</ng-container>


<!-- Name Column -->
<ng-container matColumnDef="debut">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Début </mat-header-cell>
  <mat-cell *matCellDef="let row"> {{row.debut | date: 'dd MMM yyyy' }} </mat-cell>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="fin">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Fin</mat-header-cell>
  <mat-cell *matCellDef="let row"> {{row.fin | date: 'dd MMM yyyy' }} </mat-cell>
 </ng-container>

<!-- Verif Column -->
<ng-container matColumnDef="verif">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Verif</mat-header-cell>
  <mat-cell *matCellDef="let row"  >
    <mat-icon color='primary' *ngIf="row.verif=='1'" >check_box</mat-icon>
    <mat-icon color='warn'  *ngIf="row.verif=='0'" >indeterminate_check_box</mat-icon>
  </mat-cell>
 </ng-container>


 <ng-container matColumnDef="id" >
  <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>

  <mat-cell *matCellDef="let row"  >
          <button mat-icon-button (click)="updateForm(row.id)" >
            <mat-icon color='primary' >edit</mat-icon>
          </button>
          <button mat-icon-button *ngIf="row.del" >
              <mat-icon color='primary' (click)="openDialog(row.id)"  >delete</mat-icon>
            </button>
   
  </mat-cell>
</ng-container>



  <!-- Header and Row Declarations -->


  <mat-header-row *matHeaderRowDef="['nom','lieu','bassin','type', 'debut', 'fin', 'verif' ,'id'  ]"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['nom','lieu','bassin','type', 'debut', 'fin','verif' , 'id'  ]"></mat-row>




</mat-table>
<mat-paginator #paginator

[length]="dataSource?.datas?.length"
[pageIndex]="0"
[pageSize]="10"
[pageSizeOptions]="[5, 10 ,25]">
</mat-paginator>


</div>