
<div fxLayout="row" class="container" 
   fxLayoutAlign="space-around none" 
	     fxLayout.xs="column"  fxLayout.sm="column"     >



<md-card class="mat-elevation-z12"  fxFlex.gt-sm="55" fxFlex="75"   >
  <md-card-content  >
 
 <section class="example-section" >
<md-select placeholder="Compétitions" [ngStyle]="{'width':'100%'}"   >
   <md-option *ngFor="let compet of compets" [value]="compet.id">{{ compet.nom }}</md-option>
</md-select>
   </section>
 </md-card-content>
</md-card>

<md-card class="mat-elevation-z12" fxFlex.gt-sm="30" fxFlex="75"   >
  <md-card-content  >
    <h2 class="example-h2">Filtres</h2>

    <section class="example-section">
      <md-checkbox  style="color:green;font-weight:800;font-size:12px;"    ><span mdTooltip="présence confirmée">OK</span></md-checkbox>
      <md-checkbox class="example-margin" style="color:crimson;font-weight:800;font-size:12px;" ><span mdTooltip="abscence confirmée">KO</span></md-checkbox>
      <md-checkbox class="example-margin" style="color:darkblue;font-weight:800;font-size:12px;" ><span mdTooltip="en attente de réponse">AT</span></md-checkbox>
    </section>
  </md-card-content>
</md-card>
</div>


<div  fxLayout="row"  fxLayoutWrap fxLayoutAlign="center start"  style='margin-top:15px;'   >
<md-card class="mat-elevation-z12"    fxFlex.gt-sm="25" fxFlex.sm="30" fxFlex="100" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]" style='margin:2px;'  >
  <md-card-header>
    <md-card-title>nom prénom</md-card-title>
    <md-card-subtitle>réponse du 26 juillet 10h00</md-card-subtitle>
  </md-card-header>
  <md-card-content  >
      <div style="color:green;font-weight:800;font-size:12px;" >Mercredi 26 juillet&nbsp;<md-icon style="vertical-align:middle;" >done</md-icon></div>
      <div style="color:crimson;font-weight:800;font-size:12px;" >Jeudi 27 juillet&nbsp;<md-icon style="vertical-align:middle;" >warning</md-icon></div>
      <div style="color:darkblue;font-weight:800;;font-size:12px;" ><label>Vendredi 28 juillet&nbsp;<md-icon style="vertical-align:middle;" >help</md-icon></label></div>
  </md-card-content>
</md-card>
</div>  

