<div class="engage-body mat-elevation-z10"  fxLayout="column" fxFlex="80" fxFlexOffset="10"   *ngIf="params.option=='action'" >
  <br/>
  

  <div fxLayout="row"  fxLayoutAlign="space-evenly center" fxFlex="100">
    

    <button   mat-raised-button    color="primary"  (click)="sendNotification(params?.row.id)"  >
       <mat-icon class="mat-24" >email</mat-icon> Notification ({{params?.row.notification}})
    </button>

    <mat-chip>
      {{params?.row.nom}} {{params?.row.prenom}} {{params?.row.categorie}} {{params?.row.rang}} 
    </mat-chip>
     
    <mat-checkbox class="example-margin" *ngIf="params?.row.notification >= 1 "  [checked]="params?.row.extranat == '1' " [value]="params?.row.extranat"  (change)="setExtranat($event.source.value)"   >Extranat</mat-checkbox>

     


    </div>

    <br/><br/>
    <div fxLayout="row"  fxLayoutAlign="space-around center" fxFlex="100">
    <button mat-raised-button color="primary"   mat-dialog-close>Quitte</button>
    </div>
    <br/><br/>
  </div>

  
   <!-- notification all  --> 

  <div class="engage-body mat-elevation-z10"  fxLayout="column"   *ngIf="params.option=='mails'" >
    
       <div fxLayout="row"  fxLayoutAlign="space-around center" fxFlex="50" style="margin-top:8px;" >
        <button   mat-raised-button   fxFlex="50" color="primary"  (click)="sendAllNotification()"  [disabled]="reponse.show" >
           <mat-icon class="mat-24" >email</mat-icon>Envoyer les Notifications par emails
        </button>
        </div>
        <div fxLayout="row"  fxLayoutAlign="space-around center" fxFlex="50" style="margin-top: 4px;" >
            <mat-progress-bar mode="indeterminate" [fxShow]="reponse.progress" ></mat-progress-bar>
        </div>

   
        <div fxLayout="row"  fxLayoutAlign="space-around center" fxFlex="50" style="margin-top: 4px;" [fxShow]="reponse.show">
         
            <mat-chip-list>
                <mat-chip color="error"   selected="true" *ngIf="reponse.error"  >{{reponse?.text}}</mat-chip>
                <mat-chip color="accent"  selected="true" *ngIf="!reponse.error" >{{reponse?.text}}</mat-chip>
              </mat-chip-list>
        </div>


        <div fxLayout="row"  fxLayoutAlign="center center" fxFlex="100" style="margin-top:8px;margin-bottom:8px;" >
              <button mat-raised-button color="accent"  mat-dialog-close>Quitter</button>
          </div>
    
      </div>
 
    
     <!-- add all  -->   
   
     <div class="engage-body mat-elevation-z10" fxLayout="column"   *ngIf="params.option=='add' "   >
      
<br><br>

         <div fxLayout="row"  fxLayoutAlign="space-evenly center" fxFlex="100" >
          <mat-form-field>
          <mat-select placeholder="Categories" (change)="changeCat($event.value);" >
            <mat-option *ngFor="let cat of categories" [value]="cat.value">
              {{cat.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
          
              <mat-checkbox  *ngIf="paramAppend.listecategories.length > 0 " [checked]="paramAppend.listecategories.length == paramAppend.listeselected.length"  (change)=" ($event.checked) ?  sellic.selectAll() : sellic.deselectAll(); "    >selection</mat-checkbox>
          
        
              <button mat-raised-button color="accent" [disabled]="paramAppend.listeselected.length == 0 " (click)="add()"  >Ajouter</button>
            
              <button mat-raised-button color="primary" mat-dialog-close  >Quitter</button>

        </div>
         
        <div fxLayout="row"  fxLayoutAlign="space-around center" fxFlex="50" style="margin-top: 4px;" [fxShow]="paramAppend.show">
         
            <mat-chip-list>
                <mat-chip color="error"   selected="true" *ngIf="paramAppend.error"  >{{paramAppend?.text}}</mat-chip>
                <mat-chip color="accent"  selected="true" *ngIf="!paramAppend.error" >{{paramAppend?.text}}</mat-chip>
              </mat-chip-list>
        </div>



     
          <div fxLayout="row"  fxLayoutAlign="space-around center" fxFlex="50" style="margin-top: 14px;" >
            
            <div style="display: block;max-height:300px;overflow:auto;" >
            <mat-selection-list #sellic  [(ngModel)]="paramAppend.listeselected"   >
              <mat-list-option *ngFor="let lic of paramAppend.listecategories " [value]="lic.id"  [selected]="lic.selected" >
                {{lic.nom}} {{lic.prenom}} {{lic.rang}}
              </mat-list-option>
            </mat-selection-list>
          </div>


          </div>
  
     
   
  
      
        </div>

             <!--Delete ALL  -->   
   
     <div class="engage-body mat-elevation-z10"  fxLayout="column"   *ngIf="params.option=='delete' "  >
      
      <br><br>
      
      <div fxLayout="row"  fxLayoutAlign="space-evenly center" fxFlex="100" >
          
              <mat-checkbox  *ngIf="paramDelete.listecategories.length > 0 " [checked]="paramDelete.listecategories.length == paramDelete.listeselected.length"  (change)=" ($event.checked) ?  sellic.selectAll() : sellic.deselectAll(); "    >selection</mat-checkbox>
          
        
              <button mat-raised-button color="accent" [disabled]="paramDelete.listeselected.length == 0 " (click)="delete()"  >Supprimer</button>
            
              <button mat-raised-button color="primary" mat-dialog-close  >Quitter</button>

        </div>
         
        <div fxLayout="row"  fxLayoutAlign="space-around center" fxFlex="50" style="margin-top: 4px;" [fxShow]="paramDelete.show">
         
            <mat-chip-list>
                <mat-chip color="error"   selected="true" *ngIf="paramDelete.error"  >{{paramDelete?.text}}</mat-chip>
                <mat-chip color="accent"  selected="true" *ngIf="!paramDelete.error" >{{paramDelete?.text}}</mat-chip>
              </mat-chip-list>
        </div>



     
          <div fxLayout="row"  fxLayoutAlign="space-around center" fxFlex="50" style="margin-top: 14px;" >
            
            <div style="display: block;max-height:300px;overflow:auto;" >
            <mat-selection-list #sellic  [(ngModel)]="paramDelete.listeselected"   >
              <mat-list-option *ngFor="let lic of paramDelete.listecategories " [value]="lic.id"  [selected]="lic.selected" >
                {{lic.nom}} {{lic.prenom}} {{lic.rang}}
              </mat-list-option>
            </mat-selection-list>
          </div>


          </div>
        
           
         
        
            
              </div>