<div class="engage-body mat-elevation-z10" fxLayoutAlign="space-around  center" fxLayout="row"   [formGroup]="mailForm"  >
  

     

      <br/>
      <br/>


      <div class="engage-body mat-elevation-z10" fxLayout="column"  fxFlex="20"  style='max-height: 500px;' *ngIf="!mailForm.get('idcompet').value" >

          
          <mat-form-field [floatPlaceholder]="auto" fxLayoutAlign="space-around  center"  fxLayout="row"  style="margin-top:45px"  >
              <mat-select placeholder="Filtre" (change)="selchk.checked=false;sellic.deselectAll();setFilter($event)"    >
                  <mat-option  value="-1"  >-</mat-option>
                  <mat-option *ngFor="let f of datas?.filtre" [value]="f.n"  >
                    {{f.v}}
                  </mat-option>
                </mat-select>
                
            </mat-form-field>
           
            <div  fxLayoutAlign="center" fxLayout="row"   >
                <section>
                    <mat-checkbox #selchk  (change)="($event.checked) ? sellic.selectAll():sellic.deselectAll() ;($event.checked) ? addAll():removeAll()" >selection</mat-checkbox>
            
                  </section>
            </div>

             
         
          <mat-selection-list  style="flex-grow: 1;overflow: auto;margin-top:25px;max-height: 500px;" (selectionChange)="setChange($event.option.value)"  #sellic dense >
            
            <mat-list-option *ngFor="let l of datas?.lic" [value]="l.id"     >
                   {{l.nom}} {{l.prenom}} {{l.categorie}}{{l.rang}}
              </mat-list-option>
            
           
            </mat-selection-list>
       





      </div>
 


      <div class="engage-body mat-elevation-z10" fxLayout="column"  fxFlex="75"   >
          <br>  
          <div  fxLayoutAlign="space-around  center" fxLayout="row"   >
              
                          <mat-form-field [floatPlaceholder]="auto"    fxFlex="65"  >
                              <mat-select placeholder="From*"  formControlName="from" >
                                  <mat-option>-</mat-option>
                                  <mat-option *ngFor="let c of datas?.from" [value]="c" >
                                      {{c}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>  
        <br>  

       
        
        <div  fxLayoutAlign="space-around  center" fxLayout="row"     >

            <mat-form-field [floatPlaceholder]="auto"    fxFlex="65"  >
                <mat-select placeholder="Compétitions en cours..."   formControlName="idcompet" >
                    <mat-option>-</mat-option>
                    <mat-option *ngFor="let c of datas?.comp" [value]="c.id"  >
                      {{c.nom}} {{c.lieu}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>
       
     
          <div  formGroupName="type" fxLayoutAlign="space-around  center" fxLayout="row"   *ngIf="mailForm.get('idcompet').value"   >
          <section>
                  <mat-checkbox color="primary"  formControlName="ok" ><span style='color:green' >Ok</span></mat-checkbox>
                  <mat-checkbox color="accent"  formControlName="at" ><span style='color:blue' >At</span></mat-checkbox>
                  <mat-checkbox color="warn"  formControlName="ko" ><span style='color:red' >Ko</span></mat-checkbox>
                 
          </section>
          
        </div>
        <div  fxLayoutAlign="space-around  center" fxLayout="row"   *ngIf="mailForm.get('idcompet').value!='-1'"   >
            
            <mat-error *ngIf="mailForm.invalid"  style='font-size:12px'>{{getErrorType()}}</mat-error>
          </div>
        


          <div  fxLayoutAlign="center center" fxLayout="row"    >
           <mat-form-field style="width:50%" >
                      <input matInput placeholder="Sujet du mail*" formControlName="subject"  >
                      <mat-error *ngIf="mailForm.get('subject').invalid"  style='float:right'>{{getErrorSubject()}}</mat-error>
           </mat-form-field>
          </div>

       

         <div fxLayout="row" fxLayoutAlign="center center" >
            <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="70"  >
              <quill-editor placeholder="Saisir un contenu" [theme]="bubble"  [style]="{'height': '150px', 'background-color': 'lightgrey'}"  formControlName="body" [modules]="quilltoobar" ></quill-editor>
              <mat-error *ngIf="mailForm.get('body').dirty && mailForm.get('body').invalid"  style='float:right'>{{getErrorBody()}}</mat-error>
            </div>
            
          </div>



       
          <div fxLayoutAlign="center center" fxLayout="row"   style="margin-top:10px;"  >
              <button mat-raised-button color="primary" (click)="sendMail()" [disabled]="mailForm.invalid"   >Envoyer</button>
            </div>
            <div fxLayoutAlign="center center" fxLayout="row"     >
                <mat-error *ngIf="mailForm.invalid"  style='font-size:12px' >{{getErrorForm()}}</mat-error>
              </div>


        </div>

        
</div>      

